/* Default light theme styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
  }
  
  /* Dark theme styles */
  body.dark-theme {
    background-color: #333333; /* Dark background */
    color: #ffffff; /* White text */
  }
  
  /* Header styles for dark theme */
  .dark-theme header {
    background-color: #333333; /* Dark background color for header */
    color: #ffffff; /* White text color for header */
  }
  
  .dark-theme header a {
    color: #ffffff; 
  }
  
 

.services {
  font-family: 'Poppins', sans-serif; 
}

.services h2 {
  font-family: 'Poppins', sans-serif; 
}

.font-special {
  font-family: 'Poppins', sans-serif;
}
